<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="netdisk file manager">
  <meta name="author" content="ningto.com">
  <title>Go Netdisk</title>
  <link rel="shortcut icon" href="/web/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/web/css/bootstrap.min.css">
  <link rel="stylesheet" href="/web/css/font-awesome.min.css">
  <link rel="stylesheet" href="/web/css/frame.css">
  <meta name="theme-color" content="#563d7c">
</head>

<body>
  <nav class="navbar navbar-expand-md sticky-top border-bottom shadow-sm mb-1">
    <a class="navbar-brand header-logo text-dark" href="/home">Go Netdisk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {{ range .nav }}
        <li class="nav-item">
          <a class="nav-link text-dark" href="{{ .Href }}">/ {{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <!--
      <div class="d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign</a>
      </div>
      -->
    </div>
  </nav>
  {{ template "main" . }}
  <script src="/web/js/jquery.slim.min.js"></script>
  <script src="/web/js/bootstrap.min.js"></script>
  <script src="/web/js/popper.min.js"></script>
  <script src="/web/js/frame.js"></script>
</body>

</html>